.card {
  font-family: "Roboto", sans-serif;
  display: flex;
  height: 100%;

  background-color: #3c3e44;
  gap: 24px;
  border-radius: 9px;
  overflow: hidden;
  

  max-width: 1200px;
 
  @media (max-width: 1200px) {
    gap: 0;
    height: auto;
  
  }

  @media (max-width: 991px) {
    flex-direction: column;
    max-width: 500px;
    
    width: 100%;

  }

  @media (max-width: 575px) {
   
    max-width: 400px;
    
   

  }

  &__container-img {
    
    height: 570px;
    
    min-width: 500px;
   

    @media (max-width: 1539px) {
      height: 550px;
   
    }

    @media (max-width: 1200px) {
   
      min-width: auto;
      width: auto;
  
    
      flex-shrink: 0;
      flex-basis: 50%;
    }

    @media (max-width: 991px) {
    
      flex-basis: auto;
      height: 450px;
    }

    @media (max-width: 575px) {
     

      height: 350px;
    }
  }

  &__img {
  
    object-fit: cover;
    width: 100%;

    height: 100%;
   
   
    @media (max-width: 575px) {
    
      width: 100%;
      display: block;
     
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 14px;
   
    width: 100%;
    padding: 16px;


    @media (max-width: 991px) {
      width: auto;
      
    }
  }

  &__title {
    margin: 0;
    color: #f5f5f5;
    font-size: 27px;
    font-weight: 700;
    line-height: 1.1;

    @media (max-width: 575px) {
      font-size: 20px;
    }
  }

  &__status {
    color: #fff;

    font-size: 16px;

    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;

    &-block {
      display: flex;
      gap: 7px;
      align-items: center;
    }
  }

  &__indicator {
   
    height: 9px;
    width: 9px;
    background-color: #9e9e9e;
    border-radius: 50%;

    &--alive {
      background-color: #55cc44;
    }

    &--dead {
      background-color: #d63d2e;
    }
  }

  &__subTitle {
    margin: 0;
    color: #9e9e9e;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
  }

  &__info {
    margin: 0;

    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color: #f5f5f5;
  }

  &__inner {
    display: flex;
    gap: 4px;
  }
}
