.appForm {
  display: flex;
  gap: 28px;
  align-items: flex-start;
  // width: 100%;
  justify-content: center;
  font-family: "Roboto", sans-serif;

  margin-bottom: 20px;

  height: 56px;

  @media (max-width: 991px) {
    height: auto;
  }

  &__body {
    max-width: 1227px;
    width: 100%;
    gap: 160px;
    display: flex;
    align-items: flex-start;
    // justify-content: space-between;

    @media (max-width: 1340px) {
      max-width: 1027px;
      gap: 0;
      justify-content: space-between;
    }

    @media (max-width: 1120px) {
      max-width: 907px;
      gap: 60px;
    }

    @media (max-width: 991px) {
      max-width: 100%;
      flex-wrap: wrap;
      gap: 16px;
    }
  }

  &__wrap {
    display: flex;
    gap: 28px;
    align-items: flex-start;

    @media (max-width: 991px) {
      width: 100%;
      flex-wrap: wrap;
      gap: 16px;
    }
  }

  // &__inner {
  //   opacity: 0;
  //   transition: opacity 3s;
  // }

  &__active {
    opacity: 1;
  }

  // &__modal {
  //   position: absolute;
  //   top: 0;
  //   width: 100vw;
  //   height: 100vh;
  //   // background-color: red;
  //   // background:
  //   //   linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%),
  //   //   lightgray 50% / cover no-repeat;
  //   background-color: rgba(0, 0, 0, 0.8);
  // }

  &__filterBtn {
    // height: 56px;
    min-height: 56px;
    appearance: none;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: #f5f5f5;
    min-width: 143px;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding: 16px;

    font-weight: 400;
    line-height: 1.5;

    color: #272b33;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    // !влияет на все кнопки фильтров
// transition: background-color 0.3s, color 0.3s;

//     &:hover {
//       background-color: #272b33;
//       color: #f5f5f5;
//     }

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  &__findBtn {
  }

  &__input {
    padding: 16px 12px;
    background-color: #f5f5f5;

    font-family: "Roboto", sans-serif;
    font-size: 16px;

    font-weight: 400;
    line-height: 1.5;
    color: #272b33;
    letter-spacing: 0.5px;
    appearance: none;
    outline: none;
    border: none;

    &::placeholder {
      font-size: 16px;

      font-weight: 400;
      color: #272b33;
      line-height: 1.5;
      letter-spacing: 0.5px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
      // background-color: red;
    }

    &-wrap {
      min-width: 260px;
      // font-family: "Roboto", sans-serif;
      // background-color: #f5f5f5;
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      overflow: hidden;
    
      @media (max-width: 991px) {
        width: 100%;
      }
    }
  }
}

