.appPagination {
  margin-top: 33px;
  text-align: center;

  &__body {
    // li[class*="ant-pagination-jump-prev"],
    // li[class*="ant-pagination-jump-next"] {
    //   background-color: #f5f5f5;

    //   span[class*="ant-pagination-item-ellipsis"],
    //   span[class*="ant-pagination-item-link-icon"] {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     color: rgba(245, 245, 245, 1);
    //   }
    // }
  }

  li[aria-disabled="false"] {
    background-color: #f5f5f5;
    margin-inline-end: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    svg {
      fill: #272b33;
    }
  }

  li[aria-disabled="true"] {
    background-color: #9e9e9e;
    margin-inline-end: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    svg {
      fill: rgba(39, 43, 51, 0.6);
    }
  }

  li[class*="ant-pagination-item"] {
    // background-color: #3c3e44;

    // этот импортант для мобилки
    background-color: #3c3e44 !important;
    width: 34px;
    height: 34px;
    margin-inline-end: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  li[class*="ant-pagination-item"]:hover {
    // background-color: #f5f5f5;
    // этот импортант для мобилки
    background-color: #f5f5f5 !important;

    a {
      color: #202329;
    }
  }

  li[title*="Previous Page"] {
    margin-inline-end: 14px;
  }

  li[title*="Next Page"] {
    margin-inline-start: 4px;
  }

  li[class*="ant-pagination-jump-prev"],
  li[class*="ant-pagination-jump-next"] {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  li[class*="ant-pagination-jump-prev"]:hover,
  li[class*="ant-pagination-jump-next"]:hover {
    background-color: #f5f5f5;

    // возможно стот отсюда убрать ховер так как он остается после клика на мобилках
    span[class*="ant-pagination-item-ellipsis"],
    span[class*="ant-pagination-item-link-icon"] {
      color: #202329 !important;
      color: #202329;
    }
  }

  li[class*="ant-pagination-item-active"] {
    // background-color: #f5f5f5;
    // тут импортант для мобилки
    background-color: #f5f5f5 !important;
  }

  span[class*="ant-pagination-item-ellipsis"],
  span[class*="ant-pagination-item-link-icon"] {
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: rgba(245, 245, 245, 1) !important;
  }

  li:not(:first-child):not(:last-child) {
    a {
      height: 100%;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
