.tips {
 
  font-family: "Roboto", sans-serif;
 
  border-radius: 4px;

  padding: 16px;



  background-color: #f5f5f5;
  @media (max-width: 991px) {
    width: 100%;
   
  }


  &__title {
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 0px;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    padding: 8px;
   
    border-radius: 20px;
    background-color: #272b33;
    color: white;

  }

  &__content {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;

    //! миксины не работают
    // @include small-mobile {
    //   flex-basis: 50%;
    // }
    @media (max-width: 575px) {
      flex-basis: 50%;
      text-align: center;
    
    }

    &-inner {
      display: flex;
      justify-content: center;
      gap: 16px;
      flex-wrap: wrap;
    }
  }
}
