.tips {
  // position: relative;
  // max-width: 213px;
  // min-width: 213px;
  font-family: "Roboto", sans-serif;
  // height: 56px;
  // min-height: 56px;
  // background-color: #f5f5f5;
  border-radius: 4px;
  // border-radius: 4px 4px 0 0;
  padding: 16px;
  // margin-bottom: 16px;


  background-color: #f5f5f5;
  @media (max-width: 991px) {
    width: 100%;
    order: 1;
  }

  &__title {
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 0px;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    padding: 8px;
    // border: 1px solid ;
    border-radius: 20px;
    background-color: #272b33;
    color: white;

    // @media (max-width: 575px) {
    //   list-style: none;
    // }
  }

  &__content {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;

    //! миксины не работают
    // @include small-mobile {
    //   flex-basis: 50%;
    // }
    @media (max-width: 575px) {
      flex-basis: 50%;
      text-align: center;
      // margin-bottom: 16px;
    }

    // &:last-child {
    //   margin-bottom: 0;
    // }

    // &-wrap {
    //   display: flex;
    //   justify-content: space-between;
    //   // gap: 16px;
    //   flex-wrap: wrap;

    //   @media (max-width: 575px) {
    //     // gap: 0;
    //     // column-gap: 0;
    //     row-gap: 16px;
    //   }
    // }

    &-inner {
      display: flex;
      justify-content: center;
      gap: 16px;
      flex-wrap: wrap;
    }
  }
}
